body {
    margin: 0;
    background: linear-gradient(limegreen, rgb(212, 252, 212));
    background-repeat: no-repeat;
    height: 725px;
    min-width: 600px;
    font-family: cursive;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    margin: 0px;
}

table {
    table-layout: fixed;
    border: 10px solid green;
    border-collapse: collapse;
    box-shadow: rgba(61, 106, 61, 0.776) 0px 3px 7px;
}

td {
    font-weight: bold;
    font-size: 16px;
    border: 10px solid green;
    width: 130px;
    height: 130px;
    padding: 3px;
    word-break: keep-all;
    transition: 0.3s;
}

.result {
    position: relative;
    font-size: 30px;
    left: 5%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}